body{
    background-color: var(--color-earth);
}

main{
    margin: 20px;
}

.intro{
    font-size: 11pt;
    padding-right: 15px;
}

picture{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

span{
    font-size: 9pt;
}

.book-title{
    margin: 0px;
    text-align: start;
    font: var(--font-caption);
    padding-left: 3px;
    padding-right: 5px;
    max-width: 85px;
}
